@import "tailwindcss";

@theme {
  --color-w-1: #DAD6C8;
  --color-w-2: #101010;
  --color-b-1: #e8e8e7DD;
  --color-b-2: #073630;
  --color-f-1: #000;
  --color-f-2: #fff;
  --color-btn-1: #FB4D16;
}